/* ---- Buttons ---- */

/* Default styles */
.is-style-fill {
  .wp-block-button__link:not(.has-text-color) {
    color: #191919;

    &:hover,
    &:focus,
    &:active {
      color: #000000;
    }

    .mxs-dark-bg & {
      color: var(--wp--custom--color--card-fg-dark);

      &:hover,
      &:focus,
      &:active {
        color: #000000;
      }
    }
  }

  .wp-block-button__link:not(.has-background) {
    &:hover,
    &:focus,
    &:active {
      background-color: var(--wp--preset--color--secondary);
    }
  }
}

.is-style-outline {
  > .wp-block-button__link:not(.has-background) {
    &:hover,
    &:focus,
    &:active {
      background-color: var(--wp--preset--color--secondary);
      background-image: var(--white-to-black-gradient);
    }
  }

  .wp-block-button__link:not(.has-text-color) {
    .mxs-light-bg & {
      color: var(--wp--custom--color--card-fg-dark);
    }

    .mxs-dark-bg & {
      &:hover,
      &:focus,
      &:active {
        color: #000000;
      }
    }
  }
}

/* Disappearing button style */
:root
  .is-style-disappearing
  :where(.wp-element-button, .wp-block-button__link) {
  background-image: none;
  background-color: transparent;
  border-color: transparent;
  border-width: 1px;
}

.is-style-disappearing .wp-block-button__link {
  &:hover,
  &:focus {
    border-color: var(--wp--custom--color--border-disappearing-button);
  }

  .mxs-light-bg & {
    &:hover,
    &:focus {
      border-color: var(--wp--custom--color--border);
    }
  }

  .mxs-dark-bg & {
    &:hover,
    &:focus {
      border-color: rgba(255, 255, 255, 0.5);
    }
  }
}

.is-style-disappearing a.wp-block-button__link {
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
  }
}

/* Flat button style */
.is-style-flat .wp-block-button__link {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-color: var(--wp--preset--color--primary);
  border: none;

  &:hover,
  &:focus {
    background-color: color-mix(
      in srgb,
      var(--wp--preset--color--primary),
      #000000 33%
    );
  }
}

.is-style-flat .wp-block-button__link:not(.has-text-color),
.mxs-light-bg .is-style-flat .wp-block-button__link:not(.has-text-color) {
  color: var(--wp--custom--color--flat-button-fg);

  &:hover,
  &:focus {
    color: var(--wp--custom--color--flat-button-fg);
  }
}

/* Button block overrides for colors and gradients */
.wp-block-button.is-style-outline .wp-block-button__link.has-background {
  background-color: transparent !important;
  background-image: none !important;
}

.is-style-outline .wp-block-button__link.has-background:hover,
.is-style-outline .wp-block-button__link.has-background:focus {
  background-image: var(--white-to-black-gradient) !important;
}

.wp-block-button:not(.is-style-fill):not(.is-style-flat) {
  .wp-block-button__link.has-background {
    background-color: transparent !important;
  }
}

.wp-block-button.wp-block-button:not(.is-style-fill):not(.is-style-flat):not(.is-style-disappearing) {
  .wp-block-button__link.has-background {
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ) !important;
  }
}

/* Button block color overrides */

// Use @each map to loop over each button color

$buttonColorsDefault: (
  "Blue": "accent-1",
  "Purple": "accent-2",
  "Magenta": "accent-3",
  "Orange": "accent-4",
  "Yellow": "accent-5",
  "Khaki": "accent-6",
  "Tan": "accent-7",
  "Sandstone": "accent-8",
);

@each $title, $colorValue in $buttonColorsDefault {
  /* Accent Color- #{$title} */

  .is-style-outline
    .wp-block-button__link.has-#{$colorValue}-background-color:hover,
  .is-style-outline
    .wp-block-button__link.has-#{$colorValue}-background-color:focus {
    background-color: var(--wp--preset--color--#{$colorValue}) !important;
  }

  .is-style-disappearing .wp-block-button__link.has-#{$colorValue}-color:hover,
  .is-style-disappearing .wp-block-button__link.has-#{$colorValue}-color:focus {
    border-color: var(--wp--preset--color--#{$colorValue});
  }

  .is-style-flat
    .wp-block-button__link.has-#{$colorValue}-background-color:hover,
  .is-style-flat
    .wp-block-button__link.has-#{$colorValue}-background-color:focus {
    background-color: color-mix(
      in srgb,
      var(--wp--preset--color--#{$colorValue}),
      #000000 33%
    ) !important;
  }

  .is-style-outline
    .wp-block-button__link:not(.has-text-color).has-#{$colorValue}-background-color:hover,
  .is-style-outline
    .wp-block-button__link:not(.has-text-color).has-#{$colorValue}-background-color:focus {
    color: var(--wp--custom--color--#{$colorValue}-fg);
  }

  .is-style-outline .wp-block-button__link.has-#{$colorValue}-color {
    border-color: var(--wp--preset--color--#{$colorValue}) !important;
  }
}

/* Text dark */
.is-style-outline .wp-block-button__link.has-text-dark-background-color:hover,
.is-style-outline .wp-block-button__link.has-text-dark-background-color:focus {
  background-color: var(--wp--preset--color--text-dark) !important;
}

.is-style-outline
  .wp-block-button__link:not(.has-text-color).has-text-dark-background-color:hover,
.is-style-outline
  .wp-block-button__link:not(.has-text-color).has-text-dark-background-color:focus {
  border-color: var(--wp--preset--color--white);
  color: var(--wp--preset--color--white);
}

.mxs-light-bg
  .is-style-outline
  .wp-block-button__link:not(.has-text-color).has-text-dark-background-color:hover,
.mxs-light-bg
  .is-style-outline
  .wp-block-button__link:not(.has-text-color).has-text-dark-background-color:focus {
  border-color: var(--wp--preset--color--black);
}

/* Text light */
.is-style-outline .wp-block-button__link.has-text-light-background-color:hover,
.is-style-outline .wp-block-button__link.has-text-light-background-color:focus {
  background-color: var(--wp--preset--color--text-light) !important;
}

/* --- Button block gradient overrides --- */

/* Navigation color titles refer to the standard color scheme
 * defined in theme.json
 */

// Use @each map to loop over each button gradient

$buttonGradientsDefault: (
  "Blue": "translucent-1",
  "Purple": "translucent-2",
  "Magenta": "translucent-3",
  "Deep Orange": "translucent-4",
  "Yellow": "translucent-5",
  "Khaki": "translucent-6",
  "Tan": "translucent-7",
  "Sandstone": "translucent-8",
);

@each $title, $gradientValue in $buttonGradientsDefault {
  /* #{$title} (translucent) */

  .is-style-outline
    .wp-block-button__link.has-#{$gradientValue}-gradient-background:hover,
  .is-style-outline
    .wp-block-button__link.has-#{$gradientValue}-gradient-background:focus {
    background-image: var(--wp--preset--gradient--#{$gradientValue}) !important;
  }

  .is-style-outline
    .wp-block-button__link:not(.has-text-color).has-#{$gradientValue}-gradient-background:hover,
  .is-style-outline
    .wp-block-button__link:not(.has-text-color).has-#{$gradientValue}-gradient-background:focus {
    border-color: var(--wp--preset--color--foreground);

    .mxs-light-bg & {
      border-color: var(--wp--preset--color--black);
    }
  }
}
