/* ---- Calendar ---- */

.wp-block-calendar,
.mxs-dark-bg .wp-block-calendar {
  a {
    text-decoration: none;
    color: var(--wp--preset--color--mxs-link-alt);

    &:hover,
    &:active {
      color: var(--wp--preset--color--mxs-link-alt-hover);
    }
  }

  table {
    background-color: var(--pale-gray);
    border-color: var(--medium-gray);
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
  }

  table:where(:not(.has-text-color)) {
    color: var(--wp--custom--color--card-fg-dark);
  }

  caption {
    color: var(--wp--custom--color--card-fg-dark);
  }

  tbody {
    color: var(--wp--custom--color--card-fg-dark);
  }

  td,
  th {
    border-color: var(--medium-gray);
  }

  th {
    background-color: inherit;
    color: var(--wp--custom--color--card-fg-dark);
    font-weight: bold;
    padding: 0.5em;
  }

  table:where(:not(.has-text-color)) {
    td,
    th {
      border-color: var(--medium-gray);
    }
  }
}

.mxs-light-bg .wp-block-calendar caption {
  color: var(--wp--preset--color--foreground);
}

.mxs-dark-bg .wp-block-calendar caption {
  color: var(--wp--custom--color--card-fg-dark);
}

.wp-calendar-nav {
  background-color: var(--almost-white);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 640px;
  padding: 0.25em;
  width: 100%;
}

.sidebar .wp-block-calendar:first-child {
  margin-top: 0;
}

.mxs-light-bg {
  caption,
  .wp-calendar-nav {
    background-color: var(--wp--preset--color--background);
  }
}

.mxs-light-bg .wp-calendar-nav a,
.sidebar.mxs-light-bg .wp-calendar-nav a {
  border-bottom: transparent;
  color: var(--wp--preset--color--mxs-link);

  &:hover,
  &:active {
    color: var(--wp--preset--color--mxs-link-hover);
  }
}
