/* ---- Columns block ---- */

/* In Comments template */
.wp-block-comment-template .wp-block-columns {
  margin-left: 1em;
  margin-right: 1em;
}

.wp-block-comment-template .wp-block-column {
  padding-left: 0;
  padding-right: 0;
}