/* ---- Gallery block ---- */

.wp-block-gallery {
  clear: both;
  margin-top: 2em;
  margin-bottom: 2em;
}

.wp-block-gallery .wp-block-image > a {
  border-bottom: transparent !important;
  padding-bottom: 0 !important;
}

.wp-block-gallery .wp-block-image a img {
  border: 1px solid var(--wp--custom--color--opacity-25-bg);

  .mxs-light-bg & {
    border-color: rgba(0, 0, 0, 0.25);
  }

  .mxs-dark-bg & {
    border-color: rgba(255, 255, 255, 0.25);
  }
}

.wp-block-gallery .wp-block-image a img:hover,
.wp-block-gallery .wp-block-image a:focus img {
  border-color: var(--wp--custom--color--opacity-75-bg);

  .mxs-light-bg & {
    border-color: rgba(0, 0, 0, 0.75);
  }

  .mxs-dark-bg & {
    border-color: rgba(255, 255, 255, 0.75);
  }
}

.wp-block-gallery .wp-block-image:not(.is-style-rounded) figcaption {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
  background-color: var(--wp--custom--color--gallery-caption-bg);
  background-image: none;
  color: var(--wp--custom--color--gallery-caption-fg);
  margin: 1px;
  width: calc(100% - 2px);
}

.wp-block-gallery.has-nested-images.alignfull figure.wp-block-image figcaption {
  margin-left: var(--wp--style--root--padding-left);
  margin-right: var(--wp--style--root--padding-right);
  width: calc(
    100% -
      (
        var(--wp--style--root--padding-left) +
          var(--wp--style--root--padding-right)
      )
  );
}

/* Remove blur on figcaption */
.wp-block-gallery.has-nested-images
  figure.wp-block-image:has(figcaption)::before {
  backdrop-filter: none;
}

@media (min-width: 1366px) {
  .wp-block-gallery.alignleft {
    margin-left: 20% !important;
  }

  .wp-block-gallery.alignright {
    margin-right: 20% !important;
  }
}

.entry-content:has(.wp-block-gallery.alignfull, .wp-block-gallery.alignwide) {
  clear: both;
}
