/* ---- Post Navigation Links ---- */

@media (min-width: 782px) {
	.is-layout-flow .mxs-post-links .wp-block-post-navigation-link {
		margin-block-start: 0;
	}
	
	.mxs-post-links .wp-block-post-navigation-link {
		flex-basis: 50%;
		text-align: center;
	}
}