/* ---- Site Title ---- */

.wp-block-site-title {
  color: var(--wp--custom--color--site-title-fg);
}

.wp-block-site-title a {
  text-shadow: var(--wp--custom--text--shadow-small);

  .mxs-light-bg & {
    color: var(--medium-gray);
  }

  .mxs-dark-bg & {
    color: var(--light-gray);
  }
}

.wp-block-site-title a:where(:not(.wp-element-button)):hover,
.wp-block-site-title a:where(:not(.wp-element-buttton)):focus {
  color: var(--wp--preset--color--foreground);
}

.is-light .wp-block-site-title a:where(:not(.wp-element-button)):hover,
.is-light .wp-block-site-title a:where(:not(.wp-element-button)):focus {
  color: var(--wp--preset--color--black);
}

body .is-layout-flow .wp-block-site-tagline {
  margin-block-start: 0.5rem;
}

.wp-block-site-tagline {
  .mxs-light-bg & {
    color: var(--wp--preset--color--black);
  }

  .mxs-dark-bg & {
    color: var(--almost-white);
  }
}
