.wp-block-comment-template ol {
  padding-left: 1rem;
}

.is-style-card .wp-block-comments a {
  color: var(--wp--preset--color--link-alt);

  &:hover,
  &:focus {
    color: var(--wp--preset--color--link-alt-hover);
  }
}

.wp-block-comments input[type="submit"] {
  border: 1px solid var(--wp--preset--color--background);
  border-radius: 0.5em;
  color: var(--wp--custom--color--card-fg-dark);
  padding: 0.5em;
}

