.wp-block-comment-template ol {
  padding-left: 1rem;
}

.wp-block-comments input[type="submit"] {
  border-radius: 0.5em;
}

.wp-block-comments {
  .mxs-dark-theme-bg .mxs-light-bg & {
    a {
      color: var(--wp--preset--color--mxs-link-alt);
    }

    a:hover,
    a:focus {
      color: var(--wp--preset--color--mxs-link-alt-hover);
    }
  }

  .mxs-light-theme-bg .mxs-dark-bg & {
    a {
      color: var(--wp--preset--color--mxs-link);
    }

    a:hover,
    a:focus {
      color: var(--wp--preset--color--mxs-link-hover);
    }
  }

  .mxs-dark-theme-bg &,
  .mxs-light-theme-bg .mxs-dark-bg & {
    input[type="submit"] {
      border: 1px solid rgba(255, 255, 255, 0.5);
    }
  }
}
