.is-style-no-decorations,
.is-style-no-decorations-arrow-markers {
  :is(h1, h2, h3, h4, h5, h6) {
    text-shadow: none;

    a {
      text-decoration: none;
    }
  }

  a:where(:not(.wp-element-button)) {
    border-bottom: none;
    text-decoration: underline;
  }

  .wp-block-comments-pagination,
  .wp-block-post-navigation-link,
  .wp-block-query-pagination {
    a {
      text-decoration: none;
    }

    a:active,
    a:focus,
    a:hover {
      text-decoration: underline;
    }
  }
}

.is-style-no-decorations .entry-content,
.sidebar.is-style-no-decorations,
.footer .is-style-no-decorations {
  ul {
    padding-left: 2rem;
  }

  ul ul {
    padding-left: 1rem;
  }

  ul li {
    list-style-type: disc;
  }

  ul li::before {
    content: "" !important;
    margin-right: auto;
    vertical-align: baseline;
  }
}
