.is-style-no-decorations,
.is-style-no-decorations-arrow-markers {
  :is(h1, h2, h3, h4, h5, h6) {
    text-shadow: none;

    a {
      text-decoration: none;
    }
  }

  a:where(:not(.wp-element-button)) {
    border-bottom: none;
    text-decoration: underline;
  }

  .wp-block-comments-pagination,
  .wp-block-post-navigation-link,
  .wp-block-query-pagination {
    a {
      text-decoration: none;
    }

    a:active,
    a:focus,
    a:hover {
      text-decoration: underline;
    }
  }
}

.is-style-no-decorations {
  .wp-block-archives,
  .wp-block-categories,
  ul.wp-block-list,
  .wp-block-page-list,
  .wp-block-rss {
    padding-left: 2rem;

    ul {
      padding-left: 1rem;
    }

    li {
      list-style-type: disc;
    }

    li::before {
      content: "" !important;
      margin-right: auto;
      vertical-align: baseline;
    }
  }
}
