/* ---- Post Title ---- */
.wp-block-post-title {
  a {
    padding-bottom: 0;
  }
}

.wp-block-post-title {
  .mxs-dark-theme-bg &,
  .mxs-light-theme-bg .mxs-dark-bg & {
    a {
      color: var(--light-gray);
    }

    a:hover,
    a:active {
      color: var(--wp--preset--color--contrast);
    }
  }

  .mxs-light-theme-bg & {
    a {
      color: var(--dark-gray);
    }
  }

  .mxs-light-theme-bg .mxs-card.mxs-light-bg &,
  .mxs-dark-theme-bg .mxs-card.mxs-light-bg & {
    a {
      color: var(--medium-gray);
    }
  }

  .mxs-light-theme-bg &,
  .mxs-light-theme-bg .mxs-card.mxs-light-bg &,
  .mxs-dark-theme-bg .mxs-card.mxs-light-bg & {
    a:hover,
    a:active {
      color: var(--wp--preset--color--primary);
    }
  }
}

@media (min-width: 1366px) {
  .sticky .wp-block-post-title {
    margin-left: calc(10% - 0.5em);
  }
}
