/* ---- Site Title ---- */

body .is-layout-flow .wp-block-site-tagline {
  margin-block-start: 0.5rem;
}

/* Light/Dark Contrast */
.wp-block-site-title {
  .mxs-dark-theme-bg &,
  .mxs-dark-bg & {
    color: #ffffff;

    a {
      color: var(--light-gray);
    }
  }

  .mxs-light-theme-bg &,
  .mxs-light-bg & {
    color: var(--dark-gray);

    a {
      color: var(--wp--preset--color--primary);
    }
  }

  .mxs-light-theme-bg &,
  .mxs-dark-theme-bg &,
  .mxs-dark-bg &,
  .mxs-light-bg & {
    a:where(:not(.wp-element-button)):hover,
    a:where(:not(.wp-element-button)):focus {
      color: var(--wp--preset--color--contrast);
    }
  }

  /* For Cover blocks */
  .is-light & {
    a:where(:not(.wp-element-button)) {
      color: var(--dark-gray);
    }

    a:where(:not(.wp-element-button)):hover,
    a:where(:not(.wp-element-button)) {
      color: #000000;
    }
  }
}

.wp-block-site-tagline {
  .mxs-light-bg & {
    color: var(--almost-black);
  }

  .mxs-dark-bg & {
    color: var(--almost-white);
  }
}
